<br>
<link href="jquery_file_upload/css/jquery.fileupload.css" rel="stylesheet">
<form role="form" class="form-horizontal">
  <span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Select TGZ</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="cookbook" type="file" name="cookbook" multiple="">
  </span>
</div>
<br>
<div id="result">
</div>
<script src="jquery_file_upload/js/vendor/jquery.ui.widget.js"></script>
<script src="jquery_file_upload/js/jquery.iframe-transport.js"></script>
<script src="jquery_file_upload/js/jquery.fileupload.js"></script>

<script>
$(function () {
    $('#cookbook').fileupload({
        url: '<%=@site_prefix%><%=@ws_prefix%>/cookbooks',
        dataType: 'json',
        done: function (e, data) {
                $('<h2>').text('success').appendTo('div#result')
                $('<pre>').text(JSON.stringify(data.result, null, 2)).appendTo('div#result')
        },
        fail: function (e, data) {
                $('<h2>').text('fail').appendTo('div#result')
                $('<pre>').text(JSON.stringify(data.jqXHR.responseJSON.fail, null, 2)).appendTo('div#result')
        }
    });
});

</script>

